<h2>{{addEditHeading}} Admin</h2>

<form ng-init="initAddEditPage(); getOne()" class="form-horizontal">
 	</div>
 	</div>

	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	    	<button ng-disabled="   !admin.username    && !admin.password  "
	    			ng-click="open()" type="submit" class="btn btn-info">Save</button>
	    </div>
  	</div>
</form>

<script type="text/ng-template" id="myModalContent.html">
	<div class="modal-header">
	   	<h3 class="modal-title">Confirmation</h3>
	</div>
	<div class="modal-body">
	   	<p>Are you sure you want to add/edit activity?</p>
	</div>
	<div class="modal-footer">
	   	<button class="btn btn-primary" type="button" ng-click="confirm()">Confirm</button>
	   	<button class="btn btn-warning" type="button" ng-click="revert()">Revert</button>
	</div>
</script>

<div class = "row">	
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>	
</div>	
	
